form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  padding: 10px 5vw 25px;
  box-sizing: border-box;
}
form > div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
}
form > div > div {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
form > div > div > input {
  padding: 15px;
}
form > button {
  padding: 15px 25px;
  background-color: lightgreen;
  color: white;
  font-size: 18px;
  border-radius: 1ex;
  border: 0;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}
form > button:hover {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
}
